@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

$black: black;
$white: white;
$green: #45a048;
$greenHover: #64b767;
$blackV2: #1e272e;
$blackHover: #444c52;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
}

.loading-spinner {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 5px solid $green;
    border-radius: 50%;
    border-top-color: $white;
    animation: 0.5s spin infinite ease;
    position: fixed;
    top: -100%; 
    right: -100%; 
    left: -100%; 
    bottom: -100%;
    margin: auto;
    z-index: 100;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.hamburger {
    position: fixed;
    right: 0;
    z-index: 10;

    svg {
        cursor: pointer;
        margin: 5px;
        width: 40px;
        height: 40px;
    }
}

.sidebar-active {
    right: 0;
}

nav {
    div {
        background: $black;
        width: 220px;
        position: fixed;
        z-index: 10;
        right: 0;
        height: 100%;
        display: flex;
        overflow-x: hidden;
        right: -220px;
        transition: 0.3s;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            li {
                padding: 20px 0;

                a {
                    text-decoration: none;
                    color: $white;
                    display: inline-block;

                    
                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: $white;
                        transition: width .2s;
                    }
                    
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        .hire-me {
            padding: 10px 22px;
            background: #f39c12;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.2s;
            color: $white;
            text-decoration: none;

            &:hover {
                background: #f1c40f;
            }
        }
    }
}


#home {
    background-color: $white;
    height: 100vh;
    
    .hero {
        text-align: center;
        position: relative;
        top: 80px;
    
        .img-author {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 4px solid $blackV2;
        }
    
        .social-media {
            display: flex;
            justify-content: center;
            margin: 40px 0;
    
            a {
                text-decoration: none;
                background-color: $blackV2;
                padding: 12px;
                margin: 0 10px;
                display: flex;
                border-radius: 50%;
                text-decoration: none;
                transition: .1s;
    
                i {
                    font-size: 20px;
                    color: #eaeaea;
                }
    
                &:hover {
                    background-color: $blackHover;
                }
            }
            
        }
    
        .download-resume {
            padding: 10px 25px;
            outline: none;
            cursor: pointer;
            background-color: $blackV2;
            border: none;
            border-radius: 5px;
            color: $white;
            transition: .1s;
    
            &:hover {
                background-color: $blackHover;
            }
        }

        h2, p{
            margin-top: 10px;
            color: $blackV2;
        }

        p {
            font-weight: 300;
        }
    }
}

#about{
    padding: 80px 0;
    background-color: $black;
    color: $white;

    h2, p {
        text-align: center;
    }
}

#skills {

    h2 {
        text-align: center;
    }

    p {
        display: flex; 
        align-items: center;
        font-size: 1.1rem;
        text-align: center;
    }

    img {
        width: 68px; 
        height: 68px;
    }
}


#personal-project {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 50px 0;

    .col-md-4 {
        display: flex;
        justify-content: center;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 50%;
        max-height: 10%;

        img {
            width: 100%;
        }

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        .container {
          padding: 2px 16px;
        }
    }

    a {
        text-decoration: none;
        color: $white;
        // display: flex;
        // justify-content: flex-end;
    }
      
}

#footer {
    text-align: center;
    background-color: $black;
    color: $white;
    padding: 25px 0;

    .hire-me-bot{
        padding: 10px 22px;
        background: #f39c12;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
        text-decoration: none;
        margin-bottom: 25px;

        a{
            color: $white;
            text-decoration: none;
        }

        &:hover {
            background: #f1c40f;
        }
    }
}

@media only screen and (max-width: 768px) {
    nav {
        .navbar {
            button {
                display: block;
            }
            
            ul {
                display: none;
            }
        }
    }

    #skills {
        p {
            font-size: 1rem;
        }

        img {
            width: 50px;
            height: 50px;
        }
    }
}